# WEB SCRAPING(Using Selenium) ASSIGNMENT-2

# Question1

scraping data for “Data Analyst” Job position in “Bangalore” location from naukri.com

In [1]:
#lets now import all the required library
import selenium
import pandas as pd
import time
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
url1 = 'https://www.naukri.com/'
driver.get(url1)

In [4]:
#finding element for job search bar and entering Data Analyst in search bar
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")

In [5]:
#finding element for job location bar and entering Bangalore in location bar
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [6]:
#do click using xpath fn
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [7]:
#Creating empty list to scrap job details
job_titles =[]
company_names=[]
Exp_list=[]
loc_list=[]
Package_list=[]

In [8]:
#Extrating title tag, company tag, experience tag, location tag, package tag then the text of the job titls is inside the tags are extrated above 
# we will run a loop to itearate over the tags extracted above and extarct the text inside them

for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]:
        job_titles.append(i.text.replace('\n','').strip())
for j in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]:
        company_names.append(j.text.replace('\n','').strip())
for k in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[0:10]:
        Exp_list.append(k.text.replace('\n','').strip())
for m in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[0:10]:
        loc_list.append(m.text.replace('\n','').strip())
for n in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")[0:10]:
        Package_list.append(n.text.replace('\n','').strip())

In [9]:
print(len(job_titles),len(company_names),len(Exp_list),len(loc_list),len(Package_list))

10 10 10 10 10

In [10]:
import pandas as pd
Data_Analyst_jobs=pd.DataFrame({})
Data_Analyst_jobs['title']=job_titles
Data_Analyst_jobs['company']=company_names
Data_Analyst_jobs['experience_required']= Exp_list
Data_Analyst_jobs['location']=loc_list
Data_Analyst_jobs['Package']=Package_list

In [11]:
Data_Analyst_jobs

,title,company,experience_required,location,Package
0,Associate Systems and Data Analyst,Boeing,0-4 Yrs,Bangalore/Bengaluru,Not disclosed
1,Consultant-Data Analyst -Bangalore,Innovsource Services Private Limited,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
2,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...","3,50,000 - 4,50,000 PA."
3,Data Analyst,Flipkart Internet Private Limited,1-3 Yrs,Bangalore/Bengaluru,Not disclosed
4,Hiring For Data Analyst @ Flipkart on Contract,Flipkart Internet Private Limited,2-6 Yrs,Bangalore/Bengaluru,Not disclosed
5,Data Analyst,IBM India Pvt. Limited,3-7 Yrs,Bangalore/Bengaluru,Not disclosed
6,Deputy Manager - Data Analyst,Schneider Electric India Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
7,Senior Data Analyst,Flipkart Internet Private Limited,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
8,Data Analyst / Business Analyst -,LatentView Analytics Private Limited,1-5 Yrs,"Chennai, Bangalore/Bengaluru",Not disclosed
9,Business Data Analyst,ALSTOM India Limited,5-10 Yrs,Bangalore/Bengaluru,Not disclosed

# Question-2

 scraping data for “Data Scientist” Job position in “Bangalore” location from naukri

In [12]:
#importing exceptional handling library
from selenium.common.exceptions import NoSuchElementException

In [13]:
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
url2 = 'https://www.naukri.com/'
driver.get(url2)

In [15]:
#finding element for job search bar and entering Data Scientist in job search bar
search_job2 = driver.find_element_by_id("qsb-keyword-sugg")
search_job2.send_keys("Data Scientist")

In [16]:
#finding element for job location bar and entering bangalore in search location bar
search_loc = driver.find_element_by_id("qsb-location-sugg") 
search_loc.send_keys("Bangalore")

In [17]:
#do click using xpath fn
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [18]:
#Creating empty lists for company name, experience and location
company_names=[]
Exp_list=[]
loc_list=[]

In [19]:
##Extrating title tag, company tag, experience tag, location tag then the text of the job titls is inside the tags are extrated above 
# we will run a loop to itearate over the tags extracted above and extarct the text inside them
for j in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]:
        company_names.append(j.text.replace('\n','').strip())
for k in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[0:10]:
        Exp_list.append(k.text.replace('\n','').strip())
for m in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[0:10]:
        loc_list.append(m.text.replace('\n','').strip())

In [20]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]:
    urls.append(i.get_attribute('href'))
urls

['https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-4-to-8-years-240521501478?src=jobsearchDesk&sid=16222854470823868&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-5-to-10-years-240521007717?src=jobsearchDesk&sid=16222854470823868&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-persistent-systems-limited-hyderabad-secunderabad-pune-bangalore-bengaluru-8-to-13-years-260521006008?src=jobsearchDesk&sid=16222854470823868&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-wipro-limited-kolkata-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-210521000038?src=jobsearchDesk&sid=16222854470823868&xp=4&px=1',
 'https://www.naukri.com/job-listings-looking-for-data-scientist-for-infogain-infogain-india-p-ltd-noida-bangalore-bengaluru-mumbai-all-areas-10-to-20-years-280521000845?src=jobsearchDesk&sid=16222854470823868&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bangalore-bengaluru-3-to-8-years-161220907168?src=jobsearchDesk&sid=16222854470823868&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bangalore-bengaluru-2-to-5-years-140121905423?src=jobsearchDesk&sid=16222854470823868&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-190521008276?src=jobsearchDesk&sid=16222854470823868&xp=8&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16222854470823868&xp=9&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-profitwheel-data-technologies-private-limited-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-2-to-4-years-240521006055?src=jobsearchDesk&sid=16222854470823868&xp=10&px=1']

In [21]:
#Extrating joob title and job description
job_title=[]
job_description=[]
for i in urls[0:10]:
    driver.get(i)
    time.sleep(3)
    #fetching job title
    try:
        job=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text.replace('\n','').strip())
    except NoSuchElementException:
        job_title.append('-')
        
    #fetching job description
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text.replace('\n','').strip())
    except NoSuchElementException:
        job_description.append('-')

In [22]:
print(len(job_title))
print(len(job_description))

10
10

In [23]:
job_description

['Job descriptionJob Responsibilities:Work with product managers and clients to better understand the business problemThink through a business problem and come up with a set of hypothesesCreate a list of potentially relevant supporting data elementsWork with data engineers and/or data analysts to procure data and test it for problemsCollaborate with other Data ScientistsPropose modeling approachesMine the data to check completeness, value distributions, etc.Data imputation and feature engineeringTest data for signalRun feature selectionTune the modelSet up tests for the model healthCollaborate with product managers to find the best way to present the resultsWork with developers on productionizing modelsMust HaveA minimum of 6 years of post-academic experience developing advanced analytics and applying data science in a business environmentExperience in data mining techniques and methodologies (data prep/modeling, classification, regression, clustering, causal modeling, AI, machine learning, ensemble approaches)Experience developing in Python within a production environmentAdvanced experience in data visualization tools with a strong grasp of effective data modeling and visualization practicesThe ability to rapidly develop proof of concepts and test new ideas, as well as the ability to scale these ideas into production ready models that can be deployed within our organizationExamples of how your passion for data driven decision making and intellectual curiosity translated in to value for your organizationNice to HaveAn advanced Degree (Masters or PhD) in engineering, mathematics, physics, economics, computer science, statistics, or business analytics orExperience leveraging cloud platforms such as Amazon Web Services (AWS) and Google Cloud Platform (GCP)Strong research skills and the ability to put emerging ideas into practiceRoleTechnical ArchitectIndustry TypeManagement ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any Graduate in Any SpecializationPG :Post Graduation Not RequiredKey SkillsComputer scienceGCPData modelingArtificial IntelligenceBusiness analyticsMachine learningData miningAWSPythonTesting',
 'Job descriptionPosition Description:The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.Job Responsibilities:Ability to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadershipWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutionsFast learner: ability to learn and pick up a new language/tool/ platform quicklyConceptualize, design, and deliver high-quality solutions and insightful analysisConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problemsCollaborate and coordinate with different functional teams (engineering and product development) to implement models and monitor outcomesAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price OptimizationExperience Required:Minimum 3+ years of experience in Machine Learning domainExpert level proficiency in at least one of R and PythonAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithmsExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenanceProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomesIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basisWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regulabasis. If you know few of them you are good to goGood to Have:Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systemsExperience of working in on one or more domains:CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain managementBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detectionHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuseExperience in working with Linux computing environment and use of command line tools like sed/awkGood grasp on databases including RDBMS, NoSQL, MongoDB etc.Education Qualification:B.Tech / M.Tech in Computer Science / Mathematics / Signal Processing or related fields from one of the premier Institutes (IITs/NITs/BITS)Do write back if you would be interested in the same.RoleTeam Lead/Technical LeadIndustry TypeMiscellaneousFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :B.Tech/B.E. in Any SpecializationKey SkillsSASMachine LearningPythonRNoSQLArtificial IntelligenceData StructuresGoSupply Chain ManagementData AnalyticsAWSDeep LearningSkills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Job descriptionRole: Data ScientistRoles and ResponsibilitiesSuitable candidates will be part of Wipro Digital-Intelligent Enterprise practice. The role entails leveraging Data Science and Machine Learning to solve typical problems within an organization and create IP that could be deployed in a productized mode. This will entail significant hands-on work on multiple Big Data Technologies, Data Analysis, Identifying data patterns, ML models, Insights generation. The role entails deployment in a customer context and managing customer expectations.Technical Skills Required:Hands on with Python or RAnalytics using industry leading BI tools and technologiesImplementation knowledge of supervised\\un-supervised machine learning algorithmsGood statistical analysis skills for data pre-processing and data wranglingExperienced in using big data frameworks like HadoopKnowledge of business intelligence tools or reporting toolsData Preparation for ModelingMissing Data Imputation,Outlier TreatmentScaling, Normalization, StandardizationEncoding for Categorical VariablesOversampling\\Undersampling for reducing class imbalanceExperience in building solutions using Model LibraryFeature SelectionTree-based Ensemble ModelsGradient\\Adaptive Boosted TreesHyper-parameter tuningBuilding Prediction mechanisms using methods like Logistic regression, voting classifier stacking etcRoleSoftware DeveloperIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :B.Tech/B.E. in Any SpecializationKey SkillsData ScienceMachine LearningPythonLogistic RegressionData WranglingHadoopData AnalysisBig DataStatistical AnalysisSkills highlighted with ‘‘ are preferred keyskills',
 "Job descriptionDear CandidatesWe are looking for an Experienced Data Scientist Architect for our organization Infogain, Please find below the Company Description and JD for the same below.Our office location is at:1, Seepz Rd A, Seepz, Andheri East, Mumbai, Maharashtra 400096B, Aundh IT Park, Bhau Patil Marg, Pragati Nagar, Bopodi, Pune, Maharashtra 411020(Acquired Company)No.90B, ELCITA PID No. 295 of Konappa Agrahara, Electronic City, 1st Phase, Bengaluru 560 100, Karnataka StateNoida- Sector 60 Gautam Budh Nagar UP.Please Note: We have our office located only in the above locations mentioned. No Cabs are provided.Company description:Infogain is a global business oriented IT consulting provider of front-end, customer-facing technologies, processes and applications, leading to a more efficient and streamlined customer experience for enterprises in the US, Europe, the Middle East, Asia Pacific and India. Offering solutions for the high-tech, retail, insurance and travel & hospitality verticals, Infogain specializes in digital transformation, ERP, CRM, software product engineering, knowledge management, cloud services, and mobility. Infogain has strong partnerships with industry leaders including Microsoft, Oracle and Salesforce. Headquartered in Californias Silicon Valley, Infogain has close to 5,000 employees providing consulting, technology and digital transformation services to clients around the globe.Visit us online at www.infogain.comRoles and ResponsibilitiesRole: Data ScientistExperience: 10+ yearsLocation NCR/Bangalore/ Mumbai/PuneAs an data scientist, the candidate should be able to lead and deliver the end-to-end data science projects and should be able to frontend with the clients. Strong exposure to AI/ML space with hosted model (Azure, AWS, or Google).Primary Responsibilities:Deep learning experience with Tensor flow and Kera's or Pytorch is mustExperience with the following is preferredDifferent data processing libraries such as Numpy, SciPy, Pandas, Matplotlib, Scikit-learnExperience with one or more general purpose programming languages including but not limited to: Python (Must), R, Java, or C/C++.Different neural Networks ANN, CNN, RNN, LSTM, Transformer Based models, GAN, Reinforcement LearningFamiliarity with different model architectures AlexNet, ResNet, MobileNet etc., in Computer Vision & BiLSTM, Bert family models.Experience with distribution strategies for data and model parallelismDevelopment of mobile applications with tensor flow (TF Lite)Experience in the development of End-to-end production-based models. Cloud deployment of any machine learning models.Understanding of advanced machine learning data pipelines components including Data Versioning, Code Versioning, Solution Versioning, Drift detection, Model Interpretability & explainability.Experience with Structured Data Machine Learning techniquesUsed AutoML techniques.Worked or knowledge on distributed computing example Spark.Experience with open source systems such as MLFlow, DVC, PyCaret, Prophet etc.Additional Responsibilities:Experience in digital marketing or marketing is a plusShould be well versed with Cloud Platforms (AWS, Azure, GCP) and their EcosystemExpected to partner with other 3rd party vendors, customer touch points (Application, Data and Infrastructure Architects) to deliver best in class solutionsShould have Good architecture experience in applications development in a complex, multi-platform distributed environment.Education:BE or MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, or a related technical field.Experience:6 + years of overall Experience4+ years in overall AI and ML experience with pythonPerks and BenefitsEmail your resume on: anoushka.goyal@infogain.comRoleIT/Technical Content DeveloperIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryOtherEducationUG :B.Tech/B.E. in Any SpecializationPG :MS/M.Sc(Science) in Any SpecializationDoctorate :Ph.D in ComputersKey SkillsPytorchArtificial IntelligencePythonTensorflowCnnRnnLstmNeural NetworksReinforcement LearningComputer VisionSkills highlighted with ‘‘ are preferred keyskills",
 'Job descriptionRoles and ResponsibilitiesData Scientist - Data Mining/Machine Learning/Statistical AnalysisRequirements :- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Matlab, Python, etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.RoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc in Maths, Computers, StatisticsPG :MS/M.Sc(Science) in Computers, Statistics, MathsDoctorate :Ph.D in Statistics, Computers, Maths, Doctorate Not RequiredKey SkillsData ScienceData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job descriptionRoles and Responsibilities- Selecting features, building and optimizing classifiers using machine learning techniques- Data mining using state-of-the-art methods- Enhancing data collection procedures to include information that is relevant for building analytic systems- Processing, cleansing, and verifying the integrity of data used for analysis- Doing ad-hoc analysis and presenting results in a clear manner- Creating automated anomaly detection systems and constant tracking of its performanceSkills Required :- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable- Proficiency in using query languages such as SQL, Hive, Pig- Good applied statistics skills, such as distributions, statistical testing, regression, etc.- Good scripting and programming skills- Data-oriented personality- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITSRoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Tech/B.E. in Any SpecializationPG :M.Tech in Any SpecializationDoctorate :Doctorate Not RequiredKey SkillsHiveRCloud ComputingData ScientistComputer VisionMachine LearningDeep LearningSQLPig',
 '-',
 'Job descriptionDear Aspirant,Greetings from GlobaledxRoles and ResponsibilitiesExperience : 3+ YearsCTC : Best in MarketLocation : Pan IndiaContract Period : 3-6 MonthsSkill : Python, NLP, Machine Learning Models, Data ScientistInterested, please share your updated resume to hr@globaledx.comOr Call /Whatsapp at Sowjanya : 9505072408Please share with your friends for more reach!RoleIT/Technical Content DeveloperIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryOtherEducationUG :Any Graduate in Any SpecializationKey SkillsPostgresqlDATA SCIENTISTMachine LearningScikit-LearnsqlpandasNLPoptimal codingRundeckmachine learning modelslogging frameworkshtmlNUMPYPython',

In [24]:
#Framing dataset
import pandas as pd
Data_Scientist_jobs=pd.DataFrame({})
Data_Scientist_jobs['title']=job_title

Data_Scientist_jobs['Description']=job_description
Data_Scientist_jobs['company_name']=company_names
Data_Scientist_jobs['experience_required']= Exp_list
Data_Scientist_jobs['location']=loc_list

In [25]:
Data_Scientist_jobs

,title,Description,company_name,experience_required,location
0,Senior Data Scientist,Job descriptionJob Responsibilities:Work with ...,Fractal Analytics,4-8 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Senior Data Scientist,Job descriptionPosition Description:The Artifi...,Fractal Analytics,5-10 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
2,-,-,Persistent Systems Limited.,8-13 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
3,Data Scientist,Job descriptionRole: Data ScientistRoles and R...,Wipro Limited,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
4,Looking For Data Scientist For Infogain,Job descriptionDear CandidatesWe are looking f...,Infogain India (P) Ltd.,10-20 Yrs,"Noida(Sector-60 Noida), Bangalore/Bengaluru(El..."
5,Data Scientist - Python/MATLAB/Machine Learnin...,Job descriptionRoles and ResponsibilitiesData ...,Wrackle Technologies Pvt Ltd,3-8 Yrs,Bangalore/Bengaluru
6,Data Scientist - Machine Learning,Job descriptionRoles and Responsibilities- Sel...,AugmatrixGo,2-5 Yrs,Bangalore/Bengaluru
7,-,-,Oracle India Pvt. Ltd.,6-10 Yrs,Bangalore/Bengaluru
8,Hiring For DATA Scientist - ON Contract Basis ...,"Job descriptionDear Aspirant,Greetings from Gl...",GlobalEdx Learning and Technology Solution Pvt...,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
9,Lead Data Scientist,Job descriptionROLE & RESPONSIBILITIESA sole c...,PROFITWHEEL DATA TECHNOLOGIES PRIVATE LIMITED,2-4 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."

# Question-3

scraping the salary data for Data Scientist designation in Noida location.

In [26]:
#activating chrome driver
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [27]:
#getting naukri url
driver.get('https://www.naukri.com/')

In [28]:
#finding element for job search and entering Data Scientist in search bar
search_tag = driver.find_element_by_id('qsb-keyword-sugg')
search_tag.send_keys('Data Scientist')

In [29]:
#finding element for click button
search_button = driver.find_element_by_xpath("//div[@class='search-btn']")
search_button.click()

In [30]:
#Applying filter for Delhi/NCR location
location_filter = driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")

for i in location_filter:
    if i.text == 'Delhi / NCR':
        i.click()
        break

In [31]:
#Applying filter for salary
Salary_filter = driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")

for i in Salary_filter:
    if i.text == '3-6 Lakhs':
        i.click()
        break

In [32]:
#Creating empty list to scrap job details
job_titles =[]
company_names=[]
Exp_list=[]
loc_list=[]
Package_list=[]

In [33]:
#Extrating title tag, company tag, experience tag, location tag, package tag then the text of the job titls is inside the tags are extrated above 
# we will run a loop to itearate over the tags extracted above and extarct the text inside them

for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]:
        job_titles.append(i.text.replace('\n','').strip())
for j in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]:
        company_names.append(j.text.replace('\n','').strip())
for k in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[0:10]:
        Exp_list.append(k.text.replace('\n','').strip())
for m in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[0:10]:
        loc_list.append(m.text.replace('\n','').strip())
for n in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")[0:10]:
        Package_list.append(n.text.replace('\n','').strip())

In [34]:
print(len(job_titles),len(company_names),len(Exp_list),len(loc_list),len(Package_list))

10 10 10 10 10

In [35]:
#Framing Dataset
import pandas as pd
Data_Scientist_jobs=pd.DataFrame({})
Data_Scientist_jobs['title']=job_titles
Data_Scientist_jobs['company']=company_names
Data_Scientist_jobs['experience_required']= Exp_list
Data_Scientist_jobs['location']=loc_list
Data_Scientist_jobs['Package']=Package_list

In [36]:
Data_Scientist_jobs

,title,company,experience_required,location,Package
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...","3,50,000 - 4,50,000 PA."
1,Data Scientist,Persistent Systems Limited.,8-13 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Not disclosed
2,Data Scientist,Wipro Limited,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Not disclosed
3,Data Scientist - Machine Learning/APICS,CarbyneTech India,3-8 Yrs,Hyderabad/Secunderabad,Not disclosed
4,Data Scientist - Machine/deep Learning Algorithms,CarbyneTech India,3-8 Yrs,Hyderabad/Secunderabad,Not disclosed
5,Data Scientist - Image Processing/Machine Lear...,CarbyneTech India,6-11 Yrs,Hyderabad/Secunderabad,Not disclosed
6,Data Scientist - Image Processing/ Machine Lea...,CarbyneTech India,6-11 Yrs,Hyderabad/Secunderabad,Not disclosed
7,Data Scientist - Machine Learning/Python,CarbyneTech India,3-8 Yrs,Hyderabad/Secunderabad,Not disclosed
8,Data Scientist - Image Recognition/Machine Lea...,CarbyneTech India,5-10 Yrs,Hyderabad/Secunderabad,Not disclosed
9,Data Scientist - Image Recognition/ Machine Le...,CarbyneTech India,5-10 Yrs,Hyderabad/Secunderabad,Not disclosed

# Question-6

Scraping first 100 sunglasses listings on flipkart.com

In [39]:
#Connecting with the Chrome Driver
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [40]:
#getting Flipkart URL
driver.get('https://www.flipkart.com/')

In [41]:
#Closing Pop-ups if any 
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [42]:
#finding lement for sunglasses and Entering Sun Glasses in the Search Bar
search_tag = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_tag.send_keys('sunglasses')

In [43]:
#Finding element for Click Search Bar 
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [44]:
#Creating Empty List
brand_list = []
description_list = []
price_list = []
discount_list = []

In [45]:
#Applying for Loop for Brand tag, Product_Description tag, Price tag, Discount tag
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand_list.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        description_list.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price_list.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount_list.append(m.text)

In [49]:
#Click to go next Page

driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [50]:
#Applying Same for loop for 2nd Page

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand_list.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        description_list.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price_list.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount_list.append(m.text)

In [51]:
#Go to 3rd Page

driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]").click()

In [52]:
#Applying for Loop for Brand tag, Product_Description tag, Price tag, Discount tag

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand_list.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        description_list.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price_list.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount_list.append(m.text)

In [53]:
#Click to go next Page

driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [55]:
#applying for loop for 3rd Page Data

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand_list.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        description_list.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price_list.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount_list.append(m.text)

In [56]:
#Loading Data into DataFrame

Sunglasses_100 = pd.DataFrame({})

Sunglasses_100['Brand'] = brand_list[:100]
Sunglasses_100['Product Description'] = description_list[:100]
Sunglasses_100["Price"] = price_list[:100]
Sunglasses_100['Discount'] = discount_list[:100]

Sunglasses_100

,Brand,Product Description,Price,Discount
0,AISLIN,"UV Protection, Gradient Butterfly, Wayfarer Su...",₹516,66% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹592,72% off
96,Fastrack,"Polarized, UV Protection Aviator Sunglasses (F...","₹1,110",14% off
97,AISLIN,"UV Protection, Gradient Butterfly, Shield Sung...",₹516,66% off
98,ROZZETTA CRAFT,"UV Protection, Gradient Aviator Sunglasses (57)",₹449,77% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Butterfly, Retro Squar...",₹399,85% off

# Question-7

Scraping iphone reviews from flipkart

In [57]:
#Connecting with the Chrome Driver
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [58]:
#getting URL
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [59]:
#getting All Reviews
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [60]:
#Creating Empty List to Scrape data into it
Rating = []
Review_Summary = []
Full_Review = []

In [61]:
#Applying for loop for first 11 pages to scrape data from it

for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(j.text)
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_Summary.append(k.text.replace('\n',' '))
    for m in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_Review.append(m.text.replace('\n',' '))
    for n in driver.find_elements_by_xpath("//a[@class='_1LKTO3']"):
        try:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[2]")
        except:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        time.sleep(5)

In [62]:
print(len(Rating),len(Review_Summary),len(Full_Review))

110 110 110

In [64]:
#Framing dataset

Iphone_Reviews = pd.DataFrame({})

Iphone_Reviews['Rating'] = Rating[:100]
Iphone_Reviews['Review Summary'] = Review_Summary[:100]
Iphone_Reviews['Full Review'] = Full_Review[:100]

Iphone_Reviews

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
96,5,Fabulous!,This is my first iOS phone. I am very happy wi...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# Question-8

Scraping data for first 100 sneakers from flipkart

In [65]:
#Connecting with the Chrome Driver
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [66]:
#Opening Flipkart URL

driver.get('https://www.flipkart.com/')

In [67]:
#Closing Pop-ups if any 

driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [68]:
#Entering Sneakers in the Search Bar

search_tag = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_tag.send_keys('sneakers')

In [69]:
#Click Search Bar Option

driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [70]:
#Creating Empty List to Scrape data into it

Brand = []
Product_Description = []
Price = []
Discount = []

In [74]:
#Applying for loop for first 4 pages to scrape data from it

for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(k.text.replace('\n',' '))
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)
    for n in driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span"):
        try:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[2]").click()
        except:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
        time.sleep(5)

In [75]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

160 141 160 160

In [76]:
Sneakers100 = pd.DataFrame({})

Sneakers100['Brand'] = Brand[:100]
Sneakers100['Product Description'] = Product_Description[:100]
Sneakers100["Price"] = Price[:100]
Sneakers100['Discount'] = Discount[:100]

Sneakers100

,Brand,Product Description,Price,Discount
0,Echor,shoes for boys Sneakers For Men,₹599,40% off
1,otoos,Sneakers For Men,₹418,58% off
2,Magnolia,Sneakers For Men,₹356,64% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,VIPSJAZZY,Combo pack of 2 casual sneaker shoes for men S...,₹419,58% off
...,...,...,...,...
95,DUCATI,Sneakers Sneakers For Men,"₹1,399",61% off
96,Jokatoo,Sneakers For Men,₹423,71% off
97,Skechers,ORIFWSH(OR)-1077 Sneakers For Men,"₹2,063",52% off
98,aadi,Simha IDP Sneakers For Men,₹298,70% off
99,Birde,Sneakers For Men,₹471,52% off

# Question-9

scraping First 100 shoes data from myntra

In [77]:
#Activating chrome driver
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [78]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [79]:
Shoe_Brand = []
Shoe_Description = []
Shoe_Price = []

In [80]:
for i in range(0,2):
    
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        Shoe_Brand.append(j.text)
        
    for k in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        Shoe_Description.append(k.text.replace('\n',' '))
     
    for l in driver.find_elements_by_xpath("//div[@class='product-price']"):
        var=l.text.split('Rs.')[1].strip()
        Shoe_Price.append(var)
     
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    
    time.sleep(4)

In [81]:
print(len(Shoe_Brand),len(Shoe_Description),len(Shoe_Price))

100 100 100

In [82]:
Black_Shoe100 = pd.DataFrame({})

Black_Shoe100['Shoe_Brand'] = Shoe_Brand
Black_Shoe100['Shoe_Description'] = Shoe_Description
Black_Shoe100['Shoe_Price'] = Shoe_Price

Black_Shoe100

      Shoe_Brand                   Shoe_Description Shoe_Price
0      Florsheim   Men Solid Leather Formal Loafers       6995
1   Hush Puppies  Men Solid Leather Formal Slip-Ons       8999
2          Ruosh    Men Solid Leather Formal Derbys       8990
3           ALDO                       Men Sneakers       9999
4           Nike     AIR ZOOM PEGASUS Running Shoes      10920
..           ...                                ...        ...
95        Reebok         Men Nano X1 Training Shoes       6999
96  Hush Puppies    Men Solid Leather Formal Derbys       9999
97        ADIDAS     Men Adizero Ubersonic 4 Tennis      10499
98  Kenneth Cole             Women Solid Flat Boots       9513
99          Nike        Women AIR MAX VIVA Sneakers      12495

[100 rows x 3 columns]

# Question-10

Scraping laptop data from amazon by appling CPU filters

In [83]:
#Activating chrome driver
driver = webdriver.Chrome(r"C:\Users\BHAVANI\Downloads\chromedriver_win32\chromedriver.exe")

In [85]:
#opening the homepage of Amazon.in
driver.get('https://www.amazon.in')
#asking the user ti input the keywords he/she wants to search

use_inp=input('Enter the product you want to search: ')

Enter the product you want to search: laptop

In [86]:
search_bar = driver.find_element_by_id("twotabsearchtextbox") #locating search_bar by id
search_bar.clear()  #clearing search bar
search_bar.send_keys(use_inp)  #sending user input to search bar
time.sleep(4)
search_button = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]/span/input') #locating search bar by path
search_button.click() #clicking the button to search

In [87]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [88]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [98]:
#creating empty list
titles=[]
ratings=[]
prices=[]

In [99]:
for j in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")[0:10]:
    titles.append(j.text)
for k in driver.find_elements_by_xpath("//i[@data-hook='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']")[0:10]:
    ratings.append(k.get_attribute("span"))
for m in driver.find_elements_by_xpath("//span[@class='a-price-whole']")[0:10]:
    prices.append(m.text)

In [100]:
titles

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 '(Renewed) Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo ThinkPad E14 Intel Core i7 10th Gen14-inch Full HD IPS Thin and Light Laptop (16GB RAM/ 1TB HDD+256GB SSD/ Windows 10 Home/ Microsoft Office Home & Student 2019/ Black/ 1.69kg), 20RAS0AM00']

In [101]:
ratings

[]

In [102]:
prices

['93,740',
 '1,07,990',
 '53,219',
 '35,000',
 '29,990',
 '84,490',
 '4,13,890',
 '21,592',
 '87,990',
 '46,290']